@font-face {
  font-family: 'Yanone Kaffeesatz';
  font-style: normal;
  font-weight: 300;
  src: url('Yanone/YanoneKaffeesatzLight.txt') format('opentype');
}
@font-face {
  font-family: 'Yanone Kaffeesatz';
  font-style: normal;
  font-weight: 400;
  src: url('Yanone/YanoneKaffeesatzRegular.txt') format('opentype');
}
