<!doctype html>
<html class="no-js">

<head>
  <meta charset="utf-8" />
  <title>CONPUTATIONAL CONDENCED MATTER GROUP</title>
  <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  <link rel="stylesheet" media="all" href="css/style.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- Adding "maximum-scale=1" fixes the Mobile Safari auto-zoom bug: http://filamentgroup.com/examples/iosScaleBug/ -->
  <!-- JS -->
  <script src="js/jquery-1.7.1.min.js"></script>
  <script src="js/css3-mediaqueries.js"></script>
  <script src="js/custom.js"></script>
  <script src="js/tabs.js"></script>
  <!-- Tweet -->
  <link rel="stylesheet" href="css/jquery.tweet.css" media="all" />
  <script src="js/tweet/jquery.tweet.js"></script>
  <!-- ENDS Tweet -->
  <!-- superfish -->
  <link rel="stylesheet" media="screen" href="css/superfish.css" />
  <script src="js/superfish-1.4.8/js/hoverIntent.js"></script>
  <script src="js/superfish-1.4.8/js/superfish.js"></script>
  <script src="js/superfish-1.4.8/js/supersubs.js"></script>
  <!-- ENDS superfish -->
  <!-- prettyPhoto -->
  <script src="js/prettyPhoto/js/jquery.prettyPhoto.js"></script>
  <link rel="stylesheet" href="js/prettyPhoto/css/prettyPhoto.css" media="screen" />
  <!-- ENDS prettyPhoto -->
  <!-- poshytip -->
  <link rel="stylesheet" href="js/poshytip-1.1/src/tip-twitter/tip-twitter.css" />
  <link rel="stylesheet" href="js/poshytip-1.1/src/tip-yellowsimple/tip-yellowsimple.css" />
  <script src="js/poshytip-1.1/src/jquery.poshytip.min.js"></script>
  <!-- ENDS poshytip -->
  <!-- GOOGLE FONTS
    <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300' rel='stylesheet' type='text/css'>-->
  <link href='css/googlefont.css' rel='stylesheet' type='text/css'>
  <!-- Flex Slider -->
  <link rel="stylesheet" href="css/flexslider.css">
  <script src="js/jquery.flexslider-min.js"></script>
  <!-- ENDS Flex Slider -->
  <!-- Less framework -->
  <link rel="stylesheet" media="all" href="css/lessframework.css" />
  <!-- modernizr -->
  <script src="js/modernizr.js"></script>
  <!-- SKIN -->
  <link rel="stylesheet" media="all" href="css/skin.css" />
  <!-- reply move form -->
  <script src="js/moveform.js"></script>
  <script src="https://cdn.bootcss.com/angular.js/1.4.0/angular.min.js"></script>
  <script src="https://cdn.bootcss.com/angular.js/1.4.0/angular-route.min.js"></script>
  <script type="text/javascript" src="js/flexpaper.js"></script>
  <script type="text/javascript" src="js/flexpaper_handlers.js"></script>
  <script src="js/jquery.columnizer.min.js"></script>
  <!-- Isotope -->
  <script src="js/jquery.isotope.min.js"></script>
  <link rel="stylesheet" media="all" href="css/aa.css" />
  <!-- Lof slider -->
  <script src="js/jquery.easing.js"></script>
  <script src="js/lof-slider.js"></script>
</head>
<style>
a {cursor: pointer}
</style>

<body lang="en" ng-app='app' ng-controller="myCtrl">
  <header class="clearfix">
    <div class="wrapper  clearfix">
      <a href="/#/" id="logo">
        <img src="img/logo.png" alt="Zeni"> </a>
      <nav>
        <ul id="nav" class="sf-menu">
          <li ng-class="{'current-menu-item':isCurrent($index)}" ng-repeat="item in linknames">
            <a ng-bind="item" ng-click="linkto(links[$index])"></a>
          </li>
        </ul>
        <div id="combo-holder"></div>
      </nav>
    </div>
  </header>
  <ng-view></ng-view>
  <footer>
    <div class="wrapper">
      <div class="left">CCMG. all rights reserved.</a> You are the th visiter.</div>
      <div class="footer-bottom"> </div>
    </div>
  </footer>
  <script type="text/javascript">
  var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
  document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F29ef608d480685ad02418fa74777154c' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script>
  angular.module("app", ["ngRoute"]).config(function($routeProvider, $locationProvider)
  {
    $routeProvider.when('/',
    {
      templateUrl: 'templates/main.html'
    }).when('/contact',
    {
      templateUrl: 'templates/contact.html'
    }).when('/teaching',
    {
      templateUrl: 'templates/teaching.html',
      controller: 'teachingCtrl'
    }).when('/fist',
    {
      templateUrl: 'templates/fist.html'
    }).when('/xingao-gong',
    {
      templateUrl: 'templates/xingao-gong.html'
    }).when('/publications',
    {
      templateUrl: 'templates/publications.html',
      controller: 'publicationsCtrl'
    }).when('/groupmembers',
    {
      templateUrl: 'templates/groupmembers.html',
      controller: 'memberCtrl'
    }).otherwise(
    {
      redirectTo: '/'
    });
    // $locationProvider.html5Mode(
    // {
    //   enabled: true,
    //   requireBase: false
    // });
    // $locationProvider.html5Mode(true);
  }).controller("myCtrl", function($scope, $location)
  {
    $scope.linknames = ["HOME", "XIN-GAO GONG", "PUBLICATIONS", "GROUP MEMBERS", "CONTACT", "TEACHING", "FIST"];
    $scope.links = ["/", "/xingao-gong", "/publications", "/groupmembers", "/contact", "/teaching", "/fist"];
    $scope.isCurrent = function($index)
    {
      if ($location.path() === $scope.links[$index]) return true;
      return false
    }
    $scope.linkto = function(path)
    {
      $location.path(path)
    }
    $scope.$on("$viewContentLoaded", function()
    {
      console.log("ng-view content loaded!");
    });
    $scope.$on("$routeChangeStart", function(event, next, current)
    {
      //event.preventDefault(); //cancel url change
      console.log("route change start!");
    });
  }).controller("memberCtrl", function($scope)
  {
    $scope.members = []
    $(function()
    {
      $.getJSON("data/members.json").then(function(data)
      {
        $scope.members = data.members;
        $scope.$apply();
        refresh()
      })
    });
  }).controller("publicationsCtrl", function($scope, $anchorScroll)
  {
    $scope.years = []
    for (var i = 2016; i >= 1991; i--)
    {
      $scope.years.push(i)
    }
    $(function()
    {
      $.getJSON("data/publications.json").then(function(data)
      {
        var publications = [];
        Object.keys(data).forEach(function(year)
        {
          publications.push(
          {
            year: year,
            papers: data[year]
          });
        })
        $scope.publications = publications.sort(function(a, b)
        {
          return parseInt(b.year) - parseInt(a.year)
        });
        console.log(publications)
        $scope.$apply();
      })
    })
    $scope.toanchor = function(item)
    {
      $anchorScroll(item)
    }
  }).controller("teachingCtrl", function($scope)
  {
    var lectures = {
      "02": "Lecture 02 Numerical Methods",
      "03": "Lecture 03 Monte Carlo",
      "05": "Lecture 05 Molecular Dynamics I",
      "06": "Lecture 06 Molecular Dynamics II",
      "07": "Lecture 07 Molecular Dynamics III",
      "10": "Lecture 10 Ab-initio Calculation I",
      "12": "Lecture 12 Ab-initio Calculation III"
    }
    $scope.lectures = Object.keys(lectures).sort().map(function(e)
    {
      return {
        name: e,
        title: lectures[e]
      }
    })
    $scope.viewlec = function(name)
    {
      $('#documentViewer').FlexPaperViewer(
      {
        config:
        {
          SWFFile: 'lec/Lecture' + name + '.swf',
          Scale: 0.6,
          ZoomTransition: 'easeOut',
          ZoomTime: 0.5,
          ZoomInterval: 0.2,
          FitPageOnLoad: true,
          FitWidthOnLoad: false,
          FullScreenAsMaxWindow: false,
          ProgressiveLoading: false,
          MinZoomSize: 0.2,
          MaxZoomSize: 5,
          SearchMatchAll: false,
          InitViewMode: 'Portrait',
          RenderingOrder: 'flash',
          StartAtPage: '',
          ViewModeToolsVisible: true,
          ZoomToolsVisible: true,
          NavToolsVisible: true,
          CursorToolsVisible: true,
          SearchToolsVisible: true,
          WMode: 'window',
          localeChain: 'en_US'
        }
      });
    }
    $scope.viewlec('02')
  });

  function refresh()
  {
    //##########################################
    // Filter - Isotope 
    //##########################################
    var $container = $('#filter-container');
    $container.imagesLoaded(function()
    {
      $container.isotope(
      {
        itemSelector: 'figure',
        filter: '*',
        resizable: false,
        animationEngine: 'jquery'
      });
    });
    // filter buttons
    $('#filter-buttons a').click(function()
    {
      // select current
      var $optionSet = $(this).parents('#filter-buttons');
      $optionSet.find('.selected').removeClass('selected');
      $(this).addClass('selected');
      var selector = $(this).attr('data-filter');
      $container.isotope(
      {
        filter: selector
      });
      return false;
    });
    $('a[data-rel]').each(function()
    {
      $(this).attr('rel', $(this).data('rel'));
    });
    $("a[rel^='prettyPhoto']").prettyPhoto(
    {
      deeplinking: false
    });
  }
  </script>
</body>

</html>
