
/* PORTFOLIO ----------------------------------------------------*/#portfolio-content #filter-container a {
  color: #888;
}
#portfolio-content #filter-container a:hover {
  color: #cb5432;
}
#portfolio-content .project-pager a {
  color: #444444;
}
#portfolio-content .project-pager a:hover {
  color: #cb5432;
}
#portfolio-content #project-box {
  background: #f8f5f2;
}
#portfolio-content #project-box .info .launch:hover {
  color: #f1f1f1;
  background: #cb5432;
}
/* RELATED PROJECTS ---------------------------------------------------*/
.related-projects figure .heading {
  color: #444444;
}
.related-projects figure .heading:hover {
  color: #cb5432;
}
.related-projects figure .thumb {
  background: #cb5432 url(../img/icon-link.png) no-repeat center center;
}
/* CONTACT  ----------------------------------------------------*/#map-holder {
  background: #f8f5f2;
}
/* BLOG ------------------------------------------------------------*/
#posts-list article .box {
  background: #f8f5f2 url(../img/meta-bg.png) repeat-y top right;
}
#posts-list article .box .entry-date {
  color: #dcd2be;
  background: #2d2d2d;
}
#posts-list article .box .excerpt .post-heading {
  color: #444444;
}
#posts-list article .box .excerpt .post-heading:hover {
  color: #cb5432;
}
#posts-list article .box .excerpt .learnmore {
  background: #2d2d2d;
  color: #f8f5f2;
}
#posts-list article .box .excerpt .learnmore:hover {
  background: #cb5432;
}
#posts-list article .box .meta a {
  color: #656360;
}
#posts-list article .box .meta a:hover {
  color: #cb5432;
}
#posts-list article.format-standard .feature-image {
  background: #cb5432 url(../img/icon-link.png) no-repeat center center;
}
#posts-list article.format-image .feature-image {
  background: #cb5432 url(../img/icon-popup.png) no-repeat center center;
}
body.single #posts-list article {
  background: #f8f5f2;
}
body.single #posts-list .box .meta {
  background: #f8f5f2 url(../img/meta-bg-vertical.png) repeat-x top right;
}
/* PAGE NAVIGATION ------------------------------------------------------------*/
#main .page-navigation a {
  color: #444444;
}
#main .page-navigation a:hover {
  color: #cb5432;
}
/* SIDEBAR ------------------------------------------------------------*/
#sidebar .cat-item a .post-counter,
#sidebar .page_item a .post-counter {
  color: #656360;
}
/* SLIDER ----------------------------------------------------*/.lof-slidecontent .slider-description {
  color: #e6e6e6;
}
.lof-slidecontent .slider-description a {
  color: #FFF;
}
.lof-slidecontent .slider-description a.readmore {
  color: #fcb019;
}
.lof-slidecontent .active {
  border-top: 3px #cb5432 solid;
}
/* FOOTER ----------------------------------------------------*/footer {
  color: #dcd2be;
}
footer h4 {
  color: #fff;
}
footer a {
  color: #cb5432;
}
footer a:hover {
  color: #fff;
}
