<!-- MAIN -->
<div id="main">
  <style>
  #map { display: block; height: 300px; width: 100%; margin-bottom: 24px; margin-top: 40px; -webkit-box-shadow: 2px 2px 0px rgba(0, 0, 0, .2); -moz-box-shadow: 2px 2px 0px rgba(0, 0, 0, .2); -o-box-shadow: 2px 2px 0px rgba(0, 0, 0, .2); box-shadow: 2px 2px 0px rgba(0, 0, 0, .2);}
  </style>
  <div class="wrapper clearfix">
    <h2 class="page-heading">
      <span>CONTACT</span>
    </h2>
    <!-- page content -->
    <div id="page-content" class="clearfix">
      <div id="map"></div>
      <!-- ENDS Map -->
      <div class="map-content" style="text-indent: 2em;"> The Physics Department of Fudan University was founded in 1952, seeded from the physics group in the former Department of Mathematics and Physics at Fudan. Under the nation-wide reorganizational effort within universities located close by, the physics departments of 8 universities in East China, including Fudan University, Jiaotong University, Tongji University, Zhejiang University, Hujiang University and Datong University, were partly merged into one department, the Physics Department of Fudan University. </div>
      <!-- form -->
      <script type="text/javascript" src="js/form-validation.js"></script>
      <form id="contactForm" action="#" method="post">
        <h2 class="heading">Contact us using this form</h2>
        <p> We are please to receive your letter!</p>
        <fieldset>
          <div>
            <input name="name" id="name" type="text" class="form-poshytip" title="Enter your full name" />
            <label>Name</label>
          </div>
          <div>
            <input name="email" id="email" type="text" class="form-poshytip" title="Enter your email address" />
            <label>Email</label>
          </div>
          <div>
            <textarea name="comments" id="comments" rows="5" cols="20" class="form-poshytip" title="Enter your comments"></textarea>
          </div>
          <!-- send mail configuration -->
          <input type="hidden" value="404422239@qq.com" name="to" id="to" />
          <input type="hidden" value="Enter the subject here" name="subject" id="subject" />
          <input type="hidden" value="send-mail.php" name="sendMailUrl" id="sendMailUrl" />
          <!-- ENDS send mail configuration -->
          <p>
            <input type="button" value="Send" name="submit" id="submit" />
            <span id="error" class="warning">Message</span>
          </p>
        </fieldset>
      </form>
      <!-- ENDS form -->
      <!-- contact sidebar -->
      <aside id="contact-sidebar">
        <div class="block">
          <h4>Address</h4>
          <p>Don't aim for success if you want it; just do what you love and believe in, and it will come naturally.</p>
          <p>You cannot improve your past, but you can improve your future. Once time is wasted, life is wasted.</p>
          <ul class="address-block">
            <li class="address">2013. No.220 Handan Road, Shanghai, China</li>
            <li class="phone">Contactor：Mr. Panshuo Wang </li>
            <!--<li class="mobile">+123 456 789</li>-->
            <li class="email">
              <a>wps880112 at sina.com</a>
            </li>
          </ul>
        </div>
      </aside>
      <div class="clearfix"></div>
      <!-- ENDS contact-sidebar -->
    </div>
    <!--  page content-->
  </div>
</div>
<!-- ENDS MAIN -->
<!--百度地图容器-->
<script type="text/javascript">
//创建和初始化地图函数：
function initMap()
{
  createMap(); //创建地图
  setMapEvent(); //设置地图事件
  addMapControl(); //向地图添加控件
  addMapOverlay(); //向地图添加覆盖物
}

function createMap()
{
  map = new BMap.Map("map");
  map.centerAndZoom(new BMap.Point(121.509622, 31.304283), 17);
}

function setMapEvent()
{
  map.enableScrollWheelZoom();
  map.enableKeyboard();
  map.enableDragging();
  map.enableDoubleClickZoom()
}

function addClickHandler(target, window)
{
  target.addEventListener("click", function()
  {
    target.openInfoWindow(window);
  });
}

function addMapOverlay()
{
  var markers = [
  {
    content: "",
    title: "Physics Building, Fudan University",
    imageOffset:
    {
      width: -46,
      height: -21
    },
    position:
    {
      lat: 31.304838,
      lng: 121.509586
    }
  }];
  for (var index = 0; index < markers.length; index++)
  {
    var point = new BMap.Point(markers[index].position.lng, markers[index].position.lat);
    var marker = new BMap.Marker(point,
    {
      icon: new BMap.Icon("http://api.map.baidu.com/lbsapi/createmap/images/icon.png", new BMap.Size(20, 25),
      {
        imageOffset: new BMap.Size(markers[index].imageOffset.width, markers[index].imageOffset.height)
      })
    });
    var label = new BMap.Label(markers[index].title,
    {
      offset: new BMap.Size(25, 5)
    });
    var opts = {
      width: 200,
      title: markers[index].title,
      enableMessage: false
    };
    var infoWindow = new BMap.InfoWindow(markers[index].content, opts);
    marker.setLabel(label);
    addClickHandler(marker, infoWindow);
    map.addOverlay(marker);
  };
}
//向地图添加控件
function addMapControl()
{
  var scaleControl = new BMap.ScaleControl(
  {
    anchor: BMAP_ANCHOR_BOTTOM_LEFT
  });
  scaleControl.setUnit(BMAP_UNIT_IMPERIAL);
  map.addControl(scaleControl);
  var navControl = new BMap.NavigationControl(
  {
    anchor: BMAP_ANCHOR_TOP_LEFT,
    type: BMAP_NAVIGATION_CONTROL_LARGE
  });
  map.addControl(navControl);
}
var map;
initMap();
</script>
