<link rel="stylesheet" href="css1/lof-slider.css" media="all" />
<!-- MAIN -->
<div id="main">
  <div class="wrapper clearfix">
    <!-- page content -->
    <div id="page-content" class="clearfix">
      <!-- featured -->
      <div class="home-featured">
        <ul id="filter-buttons">
          <li>
            <a href="#" data-filter="*" class="selected">show all</a>
          </li>
          <li>
            <a href="#" data-filter=".groupphoto">Group photo</a>
          </li>
          <li>
            <a href="#" data-filter=".Graduate">Graduate</a>
          </li>
          <li>
            <a href="#" data-filter=".Undergraduate">Undergraduate</a>
          </li>
          <li>
            <a href="#" data-filter=".Postdoctor">Postdoctor</a>
          </li>
          <li>
            <a href="#" data-filter=".Graduated">Graduated</a>
          </li>
        </ul>
        <!-- Filter container -->
        <div id="filter-container" class="cf">
          <figure class="{{item.group}}" ng-repeat="item in members">
            <div class="feature-image1">
              <a href="{{item.photo}}" data-rel="prettyPhoto">
                <img ng-src="{{item.photo}}" width="300" /> </a>
            </div>
            <figcaption>
              <a>
                <h3 class="heading"> {{item.name}} </h3> {{item.mail}}
                <br> {{item.discript}} </a>
            </figcaption>
          </figure>
        </div>
        <!-- ENDS Filter container -->
      </div>
      <!-- ENDS featured -->
    </div>
    <!--  page content-->
    <script>
    $("a[href='ysq.jpg']").click(function()
    {
      location.href = 'ysq.php';
    });
    </script>
  </div>
</div>
<!-- ENDS MAIN -->
