<!-- MAIN -->
<div id="main">
  <div class="wrapper">
    <!-- slider holder -->
    <div id="slider-holder" class="clearfix">
      <!-- slider -->
      <div class="flexslider home-slider">
        <ul class="slides">
          <li style="display: block">
            <img src="img/slides/06.jpg" alt="alt text" />
            <!-- <p class="flex-caption">Pellentesque habitant morbi  feugiat vitae.</p>-->
          </li>
        </ul>
      </div>
      <!-- ENDS slider -->
      <div class="home-slider-clearfix "></div>
      <!-- Headline -->
      <div id="headline">
        <h1>
          <a>COMPUTATIONAL CONDENSED MATTER GROUP</a>
        </h1>
        <p>Welcome to our homepage!</p>
        <p>
          <a href="https://github.com/fudanccmg">
            <svg aria-hidden="true" class="octicon octicon-mark-github" height="20" version="1.1" viewBox="0 0 16 16" width="20" style="vertical-align: text-bottom;">
              <path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path>
            </svg> GITHUB</a>
        </p>
        <em id="corner"></em>
      </div>
      <!-- ENDS headline -->
    </div>
    <!-- ENDS slider holder -->
    <!-- home-block -->
    <div class="home-block">
      <h2 class="home-block-heading">
        <span>NEWS/PRESS</span>
      </h2>
      <center>
        <hr width="95%">
        <table border="0" cellspacing="0" width="95%">
          <tr>
            <td bgcolor="#d3eeef">
              <font face="Arial" size="-1" color="Blue">
                <b>International Forum on Clean Energy (August 17-19, 2010, Hefei, China)</b>
              </font>
            </td>
          </tr>
          <tr>
            <td>
              <font face="Arial" size="-1">The forum was sponsored by International Center for Quantum Design of Functional Materials, Hefei National Laboratory for Physical Sciences at the Microscale,and University of Science and Technology of China. The program of this forum can be download.
                <a href="pdfs/EnergyForumManual-final.pdf" target="_blank">click here</a>. Professor Kaxiras of Havard and Professor Gong have given talks on this forum.</font>
            </td>
          </tr>
          <tr>
            <td height="20"></td>
          </tr>
          <tr>
            <td bgcolor="#d3eeef">
              <font face="Arial" size="-1" color="Blue">
                <b>International Symposium on the Multiscale Modeling and Simulation of Materials</b>
              </font>
            </td>
          </tr>
          <tr>
            <td>
              <font face="Arial" size="-1">The workshop named "International Symposium on the Multiscale Modeling and Simulation of Materials" was held on 29 June 2010 and in Chemistry Building (Alumni Hall), Fudan University. This workshop was organized by Professor Gong and Xiang and was supported by MOE Laboratory for Computational Physical Sciences. The program of this workshop can be download.
                <a href="pdfs/Workshop_Fudan.doc" target="_blank">click here</a>. Many young professors and doctors had given talks.</font>
            </td>
          </tr>
          <tr>
            <td height="20"></td>
          </tr>
          <tr>
            <td bgcolor="#d3eeef">
              <font face="Arial" size="-1" color="Blue">
                <b>CCMG Spring Outing at Changshu</b>
              </font>
            </td>
          </tr>
          <tr>
            <td>
              <font face="Arial" size="-1"> 2010 Spring Outing of Professor Gong and Professor Xiang's joint group </font>
              <a href="img/photos/changshu/yushan.jpg" target="_blank">
                <font face="Arial" size="-1">
                  <img src="img/photos/changshu/yushan.jpg" width="500" height="350" border="0"> </a>
              <p>
                <font class="description" size="-1"> Almost all the CCMG members joint this spring outing. Besides, some members got their wives or girlfriends or boy friends with our whole group family. We really had a happy and pleasant day, especially the dinner at Grand Mercure Baolong Hotel. What a warm family and a memorable day!
                  <b>
                    <a href="changshu.php">more interesting photos</a>
                  </b>
                </font>
              </p>
            </td>
          </tr>
          <tr>
            <td height="20"></td>
          </tr>
          <tr>
            <td bgcolor="#d3eeef">
              <font face="Arial" size="-1" color="Blue">
                <b>Course on solid electronic structure by Professor Richard Martin</b>
              </font>
            </td>
          </tr>
          <tr>
            <td>
              <font face="Arial" size="-1">Doctor Richard Martin is a professor of University of Illinois and Stanford University. His famous book "electronic structure" is very popular in the feild of computational physics. He will give us lectures on solid electronic structure during April at Fudan University. See the updated lecture contents,
                <a href="pdfs/Fudan-Lectures-2010/index.html" target="_blank">click here</a>. </font>
            </td>
          </tr>
          <tr>
            <td height="20"></td>
          </tr>
          <tr>
            <td bgcolor="#d3eeef">
              <font face="Arial" size="-1" color="Blue">
                <b>Short course on density-functional theory by Doctor Stefano Baroni</b>
              </font>
            </td>
          </tr>
          <tr>
            <td>
              <font face="Arial" size="-1">Doctor Stefano Baroni works in Scuola Internazionale Superiore di Studi Avanzati (SISSA), Trieste,Italy. He will give us lectures on density-functional theory from 11th to 15th January,2010.See the schedule,
                <a href="pdfs/syllabus-baroni.pdf" target="_blank">click here</a>. </font>
            </td>
          </tr>
          <tr>
            <td height="20"></td>
          </tr>
          <tr>
            <td bgcolor="#d3eeef">
              <font face="Arial" size="-1" color="Blue">
                <b>Ji Min's thesis nominated for an award of "National Excellent Theses" in 2009</b>
              </font>
            </td>
          </tr>
          <tr>
            <td>
              <font face="Arial" size="-1">Ji Min studied in our group for his doctor degree between 2002 and 2007. His work mainly focused on ab initio molecular dynamics simulation in nano systems. </font>
            </td>
          </tr>
          <tr>
            <td height="20"></td>
          </tr>
          <tr>
            <td bgcolor="#d3eeef">
              <font face="Arial" size="-1" color="Blue">
                <b>Hou Zhufeng named "Excellent Post Doctor of Fudan University"</b>
              </font>
            </td>
          </tr>
          <tr>
            <td>
              <font face="Arial" size="-1">Hou Zhufeng worked in our group as a post doctor between 2005 and 2007. Most of his work focused on first-principles calculations, especially in HfO2 system. Besides, he is well known on Internet, especially to beginners using VASP, for his brief VASP Guide written in Chinese. </font>
            </td>
          </tr>
          <tr>
            <td height="20"></td>
          </tr>
          <tr>
            <td bgcolor="#d3eeef">
              <font face="Arial" size="-1" color="Blue">
                <b>One paper elected "the most influential hundred papers of China in international academics"</b>
              </font>
            </td>
          </tr>
          <tr>
            <td>
              <font face="Arial" size="-1">The paper is titled
                <a href="pdfs/2008_nano1.pdf" target="_blank"> "Relativistic effects and the unique low-symmetry structures of gold nanoclusters"</a> and published on ACS NANO in 2008. </font>
              <p>
                <font face="Arial" size="-1">See details,
                  <a href="http://news.fudan.edu.cn/2009/1207/23092.html" target="_blank">click here</a>. </font>
              </p>
            </td>
          </tr>
          <tr>
            <td height="20"></td>
          </tr>
          <tr>
            <td bgcolor="#d3eeef">
              <font face="Arial" size="-1" color="Blue">
                <b>Professor Gong elected fellows of the APS </b>
              </font>
            </td>
          </tr>
          <tr>
            <td>
              <font face="Arial" size="-1">
                <a href="http://www.aps.org/programs/honors/fellowships/archive-all.cfm?initial=&year=2
009&nom_unit=&institution=" target="_blank"> Congratulations to Professor Gong for being recently elected Fellows of the American Physical Society </a>
              </font>
              <p>
                <font face="Arial" size="-1"> APS members are eligible for nomination and election to Fellowship. Each nomination is evaluated by the Fellowship committee of the appropriate APS division, topical group or forum. After review by the APS Fellowship Committee, the successful candidates are elected by APS Council. Fellowship is therefore a distinct honor signifying recognition by one's professional peers. </font>
              </p>
              <p>
                <font class="description" size="-1"> The citation is as follows: For innovative theoretical studies of the properties of clusters and wires, development of theoretical treatments of pressure effects on materials , and for tireless promotion of international collaborations in computational materials physics. </font>
              </p>
            </td>
          </tr>
        </table>
        <hr width="95%"> </center>
    </div>
    <!-- ENDS home-block -->
  </div>
</div>
<!-- ENDS MAIN -->
